/*--------------------------------------------------------------
# Utilities
--------------------------------------------------------------*/
a {
    word-wrap: break-word;
}
.no-pd {
  padding: 0 !important;
}
.block {
  display: block;
}
.centered {
  text-align: center;
}
.no-centered {
  text-align: left;
}
.u-p100 {
  padding: 100px;
  @include breakpoint-down(md) {
    padding: 70px;
  }
  @include breakpoint-down(sm) {
    padding: 50px;
  }
}
.u-p80 {
  padding: 80px;
  @include breakpoint-down(md) {
    padding: 60px;
  }
  @include breakpoint-down(sm) {
    padding: 40px;
  }
}
.u-p60 {
  padding: 60px;
  @include breakpoint-down(md) {
    padding: 45px;
  }
  @include breakpoint-down(sm) {
    padding: 30px;
  }
}
.u-p45 {
  padding: 45px;
  @include breakpoint-down(md) {
    padding: 35px;
  }
  @include breakpoint-down(sm) {
    padding: 20px;
  }
}
.u-p30 {
  padding: 30px;
  @include breakpoint-down(md) {
    padding: 20px;
  }
  @include breakpoint-down(sm) {
    padding: 15px;
  }
}
.u-p15 {
  padding: 15px;
}
.u-ptb100 {
  padding-top: 100px;
  padding-bottom: 100px;
  @include breakpoint-down(md) {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  @include breakpoint-down(sm) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
.u-ptb80 {
  padding-top: 80px;
  padding-bottom: 80px;
  @include breakpoint-down(md) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @include breakpoint-down(sm) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
.u-ptb60 {
  padding-top: 60px;
  padding-bottom: 60px;
  @include breakpoint-down(md) {
    padding-top: 45px;
    padding-bottom: 45px;
  }
  @include breakpoint-down(sm) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.u-ptb45 {
  padding-top: 45px;
  padding-bottom: 45px;
  @include breakpoint-down(md) {
    padding-top: 35px;
    padding-bottom: 35px;
  }
  @include breakpoint-down(sm) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
.u-ptb30 {
  padding-top: 30px;
  padding-bottom: 30px;
  @include breakpoint-down(md) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  @include breakpoint-down(sm) {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
.u-ptb15 {
  padding-top: 15px;
  padding-bottom: 15px;
}
.u-pt100 {
  padding-top: 100px;
  @include breakpoint-down(md) {
    padding-top: 70px;
  }
  @include breakpoint-down(sm) {
    padding-top: 50px;
  }
}
.u-pt80 {
  padding-top: 80px;
  @include breakpoint-down(md) {
    padding-top: 60px;

  }
  @include breakpoint-down(sm) {
    padding-top: 40px;

  }
}
.u-pt60 {
  padding-top: 60px;
  @include breakpoint-down(md) {
    padding-top: 45px;

  }
  @include breakpoint-down(sm) {
    padding-top: 30px;

  }
}
.u-pt45 {
  padding-top: 45px;
  @include breakpoint-down(md) {
    padding-top: 35px;

  }
  @include breakpoint-down(sm) {
    padding-top: 20px;

  }
}
.u-pt30 {
  padding-top: 30px;
  @include breakpoint-down(md) {
    padding-top: 20px;

  }
  @include breakpoint-down(sm) {
    padding-top: 15px;

  }
}
.u-pt15 {
  padding-top: 15px;
}
.u-pb100 {
  padding-bottom: 100px;
  @include breakpoint-down(md) {

    padding-bottom: 70px;
  }
  @include breakpoint-down(sm) {

    padding-bottom: 50px;
  }
}
.u-pb80 {
  padding-bottom: 80px;
  @include breakpoint-down(md) {

    padding-bottom: 60px;
  }
  @include breakpoint-down(sm) {

    padding-bottom: 40px;
  }
}
.u-pb60 {
  padding-bottom: 60px;
  @include breakpoint-down(md) {

    padding-bottom: 45px;
  }
  @include breakpoint-down(sm) {

    padding-bottom: 30px;
  }
}
.u-pb45 {
  padding-bottom: 45px;
  @include breakpoint-down(md) {

    padding-bottom: 35px;
  }
  @include breakpoint-down(sm) {

    padding-bottom: 20px;
  }
}
.u-pb30 {
  padding-bottom: 30px;
  @include breakpoint-down(md) {

    padding-bottom: 20px;
  }
  @include breakpoint-down(sm) {

    padding-bottom: 15px;
  }
}
.u-pb15 {
  padding-bottom: 15px;
}
.u-m100 {
  margin: 100px;
  @include breakpoint-down(md) {
    margin: 70px;
  }
  @include breakpoint-down(sm) {
    margin: 50px;
  }
}
.u-m80 {
  margin: 80px;
  @include breakpoint-down(md) {
    margin: 60px;
  }
  @include breakpoint-down(sm) {
    margin: 40px;
  }
}
.u-m60 {
  margin: 60px;
  @include breakpoint-down(md) {
    margin: 45px;
  }
  @include breakpoint-down(sm) {
    margin: 30px;
  }
}
.u-m45 {
  margin: 45px;
  @include breakpoint-down(md) {
    margin: 35px;
  }
  @include breakpoint-down(sm) {
    margin: 20px;
  }
}
.u-m30 {
  margin: 30px;
  @include breakpoint-down(md) {
    margin: 20px;
  }
  @include breakpoint-down(sm) {
    margin: 15px;
  }
}
.u-m15 {
  margin: 15px;
}
.u-mtb100 {
  margin-top: 100px;
  margin-bottom: 100px;
  @include breakpoint-down(md) {
    margin-top: 70px;
    margin-bottom: 70px;
  }
  @include breakpoint-down(sm) {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}
.u-mtb80 {
  margin-top: 80px;
  margin-bottom: 80px;
  @include breakpoint-down(md) {
    margin-top: 60px;
    margin-bottom: 60px;
  }
  @include breakpoint-down(sm) {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}
.u-mtb60 {
  margin-top: 60px;
  margin-bottom: 60px;
  @include breakpoint-down(md) {
    margin-top: 45px;
    margin-bottom: 45px;
  }
  @include breakpoint-down(sm) {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
.u-mtb45 {
  margin-top: 45px;
  margin-bottom: 45px;
  @include breakpoint-down(md) {
    margin-top: 35px;
    margin-bottom: 35px;
  }
  @include breakpoint-down(sm) {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
.u-mtb30 {
  margin-top: 30px;
  margin-bottom: 30px;
  @include breakpoint-down(md) {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  @include breakpoint-down(sm) {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
.u-mtb15 {
  margin-top: 15px;
  margin-bottom: 15px;
}
.u-mt100 {
  margin-top: 100px;
  @include breakpoint-down(md) {
    margin-top: 70px;

  }
  @include breakpoint-down(sm) {
    margin-top: 50px;

  }
}
.u-mt80 {
  margin-top: 80px;
  @include breakpoint-down(md) {
    margin-top: 60px;

  }
  @include breakpoint-down(sm) {
    margin-top: 40px;

  }
}
.u-mt60 {
  margin-top: 60px;
  @include breakpoint-down(md) {
    margin-top: 45px;

  }
  @include breakpoint-down(sm) {
    margin-top: 30px;

  }
}
.u-mt45 {
  margin-top: 45px;
  @include breakpoint-down(md) {
    margin-top: 35px;

  }
  @include breakpoint-down(sm) {
    margin-top: 20px;

  }
}
.u-mt30 {
  margin-top: 30px;
  @include breakpoint-down(md) {
    margin-top: 20px;

  }
  @include breakpoint-down(sm) {
    margin-top: 15px;

  }
}
.u-mt15 {
  margin-top: 15px;
}
.u-mb100 {
  margin-bottom: 100px;
  @include breakpoint-down(md) {

    margin-bottom: 70px;
  }
  @include breakpoint-down(sm) {

    margin-bottom: 50px;
  }
}
.u-mb80 {
  margin-bottom: 80px;
  @include breakpoint-down(md) {

    margin-bottom: 60px;
  }
  @include breakpoint-down(sm) {

    margin-bottom: 40px;
  }
}
.u-mb60 {
  margin-bottom: 60px;
  @include breakpoint-down(md) {

    margin-bottom: 45px;
  }
  @include breakpoint-down(sm) {

    margin-bottom: 30px;
  }
}
.u-mb45 {
  margin-bottom: 45px;
  @include breakpoint-down(md) {

    margin-bottom: 35px;
  }
  @include breakpoint-down(sm) {

    margin-bottom: 15px;
  }
}
.u-mb30 {
  margin-bottom: 30px;
  @include breakpoint-down(md) {

    margin-bottom: 20px;
  }
  @include breakpoint-down(sm) {

    margin-bottom: 15px;
  }
}
.u-mb15 {
  margin-bottom: 15px;
}



.u-p100 {
  @media (max-width: 500px) {
    padding-left: 15px;
    padding-right: 15px;
  }
}
