/* Rem output with px fallback*/
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}
@mixin fontsize($sizeValue) {
	font-size: ($sizeValue) * 1px;
	font-size: $sizeValue/16 * 1rem;
}


/* Center block*/
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* Clearfix*/
@mixin clearfix() {
	content: "";
	display: table;
	table-layout: fixed;
}

/* Clear after (not all clearfix need this also)*/
@mixin clearfix-after() {
	clear: both;
}
@function calculate-rem($size: 16px) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}

@mixin breakpoint-down($class) {
  @if $class == sm {
    @media (max-width: 767px) { @content; }
  }

  @else if $class == md {
    @media (max-width: 992px) { @content; }
  }

  @else if $class == lg {
    @media (max-width: 1330px) { @content; }
  }

  @else if $class == xl {
    @media (max-width: 1630px) { @content; }
  }

  @else {
    @warn "Breakpoint mixin supports: xs, sm, md, lg";
  }
}

@mixin breakpoint-up($class) {
  @if $class == sm {
    @media (min-width: 767px) { @content; }
  }

  @else if $class == md {
    @media (min-width: 992px) { @content; }
  }

  @else if $class == lg {
    @media (min-width: 1330px) { @content; }
  }

  @else if $class == xl {
    @media (min-width: 1630px) { @content; }
  }

  @else {
    @warn "Breakpoint mixin supports: xs, sm, md, lg";
  }
}
