/*--------------------------------------------------------------
# Arrow
--------------------------------------------------------------*/

.arrow {
  display: block;
  padding: calculate-rem(15px);
  max-width: calculate-rem(30px);
  max-height: calculate-rem(30px);
  background-image: url('../images/arrow-down.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  &:before {
    content: " ";
    display: block;
    width: calculate-rem(50px);
    height: calculate-rem(50px);
    background-image: url('../images/paw-dog.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 125%;
    left: 50%;
    margin-left: calculate-rem(-25px);
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    -webkit-animation: pulse 2s infinite ease-in-out;
            animation: pulse 2s infinite ease-in-out;
  }
}


@-webkit-keyframes pulse {
  0% {
    opacity: 0.75;
            -webkit-transform: scale(1);
                    transform: scale(1);
  }
  60% {
    opacity: 1;
            -webkit-transform: scale(1.1);
                    transform: scale(1.1);
  }
  100% {
    opacity: 0.75;
            -webkit-transform: scale(1);
                    transform: scale(1);
  }

}


@keyframes pulse {
  0% {
    opacity: 0.75;
            -webkit-transform: scale(1);
                    transform: scale(1);
  }
  60% {
    opacity: 1;
            -webkit-transform: scale(1.1);
                    transform: scale(1.1);
  }
  100% {
    opacity: 0.75;
            -webkit-transform: scale(1);
                    transform: scale(1);
  }

}
