/*--------------------------------------------------------------
# Heading
--------------------------------------------------------------*/

.heading {
  font-family: $font-family--secondary;
  font-weight: 500;
  text-align: center;
  position: relative;
  padding-top: calculate-rem(10px);
  padding-bottom: calculate-rem(30px);
  margin-bottom: calculate-rem(40px);
  @include fontsize(48);
  @include breakpoint-down(md) {
    @include fontsize(42);
  }
  @include breakpoint-down(sm) {
    @include fontsize(36);
  }
  @media (max-width: 550px) {
    @include fontsize(25);
  }
  &:after {
    display: block;
    content: " ";
    width: calculate-rem(85px);
    height: 2px;
    background-color: $color--pink;
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  &--white {
    color: white;
    &:after {
      background-color: white;
    }
  }
  &--big {
    @include fontsize(60);
    @include breakpoint-down(md) {
      @include fontsize(52);
    }
    @include breakpoint-down(sm) {
      @include fontsize(44);
    }
    @media (max-width: 550px) {
      @include fontsize(32);
    }
  }
  span {
    @include fontsize(50);
    @include breakpoint-down(md) {
      @include fontsize(44);
    }
    @include breakpoint-down(sm) {
      @include fontsize(38);
    }
    @media (max-width: 550px) {
      @include fontsize(25);
    }
  }
}
