/*--------------------------------------------------------------
# P border
--------------------------------------------------------------*/

p.border {
  padding: calculate-rem(27px) 0;
  position: relative;
  max-width: 770px;
  margin: 0 auto;
  text-align: justify;
  font-family: $font-family--primary;
  @include fontsize(14);
  span {
    color: $color--pink;
  }
  &:after {
    display: block;
    content: " ";
    width: calculate-rem(45px);
    height: 2px;
    background-color: $color--pink;
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}
