/*--------------------------------------------------------------
# About Us
--------------------------------------------------------------*/

.about-us {
  background-image: url('../images/pink-1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: calculate-rem(100px) 0;
  @include breakpoint-down(sm) {
    padding: calculate-rem(30px) 0;
  }
  &:after {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(197,84,85,0.9);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(197,84,85,0.9)), color-stop(20%, rgba(197,84,85,0.89)), color-stop(100%, rgba(248,171,173,0.84)));
    background: -webkit-linear-gradient(top, rgba(197,84,85,0.9) 0%, rgba(197,84,85,0.89) 20%, rgba(248,171,173,0.84) 100%);
    background: linear-gradient(to bottom, rgba(197,84,85,0.9) 0%, rgba(197,84,85,0.89) 20%, rgba(248,171,173,0.84) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c55455', endColorstr='#f8abad', GradientType=0 );
  }
  &__content {
    position: relative;
    z-index: 1;
    p {
      font-family: $font-family--primary;
      color: white;
      @include fontsize(24);
      line-height: 1.5;
      text-align: justify;
      font-weight: 500;
      @include breakpoint-down(sm) {
        @include fontsize(20);
        text-align: left;
      }
    }
  }
}
