/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/

.contact {
  padding: calculate-rem(100px) 0;
  @include breakpoint-down(sm) {
    padding: calculate-rem(30px) 0;
  }
  text-align: center;
  p {
    margin: 0 auto;
    @include fontsize(20);
    font-family: $font-family--primary;
    text-align: center;
  }
}
