/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/

.footer {
  background-color: $color--grey;
  &__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  &__content {
    padding: calculate-rem(30px) calculate-rem(25px);
    text-align: center;
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    @include breakpoint-down(lg) {
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%;
    }
    @include breakpoint-down(md) {
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
    }
    &__title {
      color: white;
      @include fontsize(30);
      font-weight: 500;
      font-family: $font-family--secondary;
      text-transform: uppercase;
      color: $color--pink;
      margin-bottom: calculate-rem(50px);
      @include breakpoint-down(sm) {
        margin-bottom: calculate-rem(25px);
      }
    }
    &__paragraph {
      color: white;
      @include fontsize(20);
      line-height: 1.6;
      font-weight: 400;
    }
    &__infos {
      margin-top: calculate-rem(30px);
      color: white;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-around;
      span {
        @include fontsize(14);
        color: white;
      }
    }
    &__social {
      margin-top: calculate-rem(50px);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      &__link {
        -ms-flex-preferred-size: 45%;
            flex-basis: 45%;
      color: white;
      position: relative;
      display: block;
      color: white;
      -webkit-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;
      img {
        width: 100%;
        -webkit-transition: all .33s ease-in-out;
        transition: all .33s ease-in-out;
      }
    }
  }
}
  &__map {
    min-height: calculate-rem(500px);
    background-size:cover;
    background-position: top right;
    background-repeat: no-repeat;
    background-image: url('../images/map.jpg');
    -ms-flex-preferred-size: 65%;
        flex-basis: 60%;
    position: relative;
    @include breakpoint-down(lg) {
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%;
    }
    @include breakpoint-down(md) {
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
    }
    @media (max-width: 600px) {
      min-height: calculate-rem(300px);
    }
    img {
      position: absolute;
      top: calculate-rem(25px);
      right: calculate-rem(310px);
      @media (min-width: 1500px) {
        top: 9%;
        right: 31%;
      }
      @media (max-width: 600px) {
        top: calculate-rem(20px);
        right: calculate-rem(170px);
        max-width: calculate-rem(32px);
      }
      max-width: calculate-rem(60px);
      max-height: calculate-rem(90px);
      -webkit-animation: pulse 2s infinite ease-in-out;
              animation: pulse 2s infinite ease-in-out;
    }
  }
  &__bottom {
    background-color: $color--pink;
    padding-top: calculate-rem(25px);
    padding-bottom: calculate-rem(15px);
    text-align: center;
    .arrow {
      margin: 0 auto;
      &:before {
        content: " ";
        display: block;
        width: calculate-rem(12px);
        height: calculate-rem(12px);
        background-image: url('../images/paw-dog.svg');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        bottom: 115%;
        left: 50%;
        margin-left: calculate-rem(-6px);
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        -webkit-animation: pulse 2s infinite ease-in-out;
                animation: pulse 2s infinite ease-in-out;
      }
    }
  }
}
