/*--------------------------------------------------------------
# Gallery
--------------------------------------------------------------*/
.gallery {
  padding: calculate-rem(90px) 0 calculate-rem(70px) 0;
  text-align: center;
  @include breakpoint-down(sm) {
    padding: calculate-rem(30px) 0;
  }
  h4 {
    text-align: left;
    @include fontsize(24);
    font-weight: 500;
    line-height: 1.5;
  }
  &__grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    &__item {
      min-height: calculate-rem(420px);
      margin-bottom: 3%;
      border: 3px solid white;
      box-shadow: 0px 4px 13px 1px rgba(0,0,0,0.65);
      position: relative;
      outline: none;
      &:after {
        content: " ";
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        top: 0;
        opacity: 0;
        -webkit-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
        -webkit-transform: scale(0.99);
                transform: scale(0.99);
        background: white;
    }
    &:hover {
      &:after {
        opacity: 0.3;
        -webkit-transform: scale(1);
        transform: scale(1);
      }
    }
    &--big {
      -ms-flex-preferred-size: 65%;
          flex-basis: 65%;
      @include breakpoint-down(md) {
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
      }
    }
    &--small {
      -ms-flex-preferred-size: 32%;
          flex-basis: 32%;
      @include breakpoint-down(md) {
        -ms-flex-preferred-size: 48%;
            flex-basis: 48%;
      }
      @media (max-width: 540px) {
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
      }
    }
  }
}
span {
  display: inline-block;
  margin: calculate-rem(30px) auto calculate-rem(30px) auto;
  font-family: $font-family--primary;
  @include fontsize(18);
  font-weight: 500;
  padding: calculate-rem(15px) calculate-rem(25px);
  border: 2px solid $color--pink;
}
}
