/*--------------------------------------------------------------
# Mission
--------------------------------------------------------------*/

.mission {
  background-image:  url('../images/background-pattern.png');
  background-position: center;
  padding-top: calculate-rem(90px);
  @include breakpoint-down(sm) {
    padding: calculate-rem(30px) 0 0 0;
  }
  p {
    @include fontsize(18);
    line-height: 2;
    text-align: center;
  }
  img {
    max-height: calculate-rem(86px);
    margin: calculate-rem(40px) 0;
  }
}
