/*--------------------------------------------------------------
# Navbar
--------------------------------------------------------------*/
header {
  margin-top: calculate-rem(52px);
}
.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  @include breakpoint-down(md) {
    display: block;
    position: relative;
    z-index: 10;
    padding-bottom: calculate-rem(15px);
    .show-navbar {
      -webkit-transform: translate(-50%, 0);
              transform: translate(-50%, 0);
    }
  }

  &__link {
    margin: calculate-rem(8px) 0;
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
    text-decoration: none;
    font-family: $font-family--primary;
    font-weight: 900;
    text-transform: uppercase;
    @include fontsize(10);
    max-height: calculate-rem(36px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
        position: relative;
        z-index: 11;
        background-color: white;
    @include breakpoint-down(md) {
      margin-top: 0;
      padding-top: calculate-rem(20px);
    }
    img {
      height: calculate-rem(36px);
      margin-right: calculate-rem(10px);
    }
  }
  &__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
    margin: 0; padding: 0;

    &__item {
      padding: calculate-rem(13px) 0;
      a {
        text-transform: uppercase;
        font-family: $font-family--primary;
        @include fontsize(18);
        font-weight: 400;
        line-height: 1;
        padding: 0 calculate-rem(13px);
        border-right: 1px solid $color--pink;
        position: relative;
        &:before {
          max-width: 0;
          width: 100%;
          height: 1px;
          position: absolute;
          bottom: calculate-rem(-10px);
          left: 0;
          background-color: $color--pink;
          content: " ";
          display: block;
          -webkit-transition: all .44s ease-in-out;
          transition: all .44s ease-in-out;
        }
        &:after {
          max-width: 0;
          width: 100%;
          height: 1px;
          position: absolute;
          top: calculate-rem(-10px);
          right: 0;
          background-color: $color--pink;
          content: " ";
          -webkit-transition: all .44s ease-in-out;
          transition: all .44s ease-in-out;
          display: block;
        }
        &:hover {
          color: $color--grey;
          text-decoration: none;
          &:after,&:before {
            max-width: 100%;
          }
        }
        &:active,&:focus {
          color: $color--grey;
          text-decoration: none;
        }
      }
      &:last-child {
        a {
          border-right: 1px solid transparent;
        }
      }
    }
    @include breakpoint-down(md) {

      border-top: 1px solid #ccc;
      z-index: 9;
      display: block;
      text-align: center;
      position: absolute;
      top: 99%;
      width: 150%;
      background-color: white;
      left: 50%;
      -webkit-transition: all .4s ease-in-out;
      transition: all .4s ease-in-out;
      -webkit-transform: translate(-50%, -180%);
              transform: translate(-50%, -180%);

      &__item {
        a {
          border: none;
        }
      }
    }
  }
}
.hamburger {
  display: block;
  top: calculate-rem(20px);
  right: calculate-rem(30px);
  position: fixed;
  z-index: 10;
  padding: calculate-rem(10px) 0;
  @include breakpoint-up(md) {
    display: none;
  }
}
.hamburger span{
  position: relative;
  display: block;
  height: 4px;
  width: calculate-rem(32px);
  background-color: $color--grey;
  border-radius: 1px;
  &:after {
    width: 100%;
    height: 4px;
    position: absolute;
    top: calculate-rem(-10px);
    right: 0;
    background-color: $color--grey;
    content: " ";
    display: block;
  }
  &:before {
    width: 100%;
    height: 4px;
    position: absolute;
    bottom: calculate-rem(-10px);
    right: 0;
    background-color: $color--grey;
    content: " ";
    display: block;
  }
}
.sticky {
  background-color: white;
  position: fixed;
  top: calculate-rem(-4px);
  padding-top: calculate-rem(4px);
  width: 100%;
  z-index: 10;
}
