/*--------------------------------------------------------------
# Page Header
--------------------------------------------------------------*/

.page-header {
  position: relative;
  width: 100%;
  min-height: 100vh;
  text-align: center;
  background-image: url('../../assets/images/banner.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  @include breakpoint-down(sm) {
    min-height: 0;
  }
  &__heading {
    padding: calculate-rem(170px) calculate-rem(15px) 0 calculate-rem(15px);
    @include breakpoint-down(lg) {
      padding: calculate-rem(120px) calculate-rem(15px) 0 calculate-rem(15px);
    }
    @include breakpoint-down(sm) {
      padding: calculate-rem(80px) calculate-rem(15px) calculate-rem(80px) calculate-rem(15px);
    }
    @media (max-width: 550px) {
      padding: calculate-rem(40px) calculate-rem(15px) calculate-rem(80px) calculate-rem(15px);
    }
    .heading {
      position: relative;
      z-index: 1;
    }
    img {
      margin: 0 auto;
      max-height: calculate-rem(100px);
      max-width: calculate-rem(65px);
      position: relative;
      z-index: 1;
    }
    h3 {
      display: block;
      margin: 0 auto;
      font-family: $font-family--primary;
      @include fontsize(26);
      font-weight: 400;
      line-height: 1.2;
      color: white;
      max-width: calculate-rem(700px);
      position: relative;
      z-index: 1;
      span {
        @include fontsize(20);
        color: white;
      }
    }
  }
  .overlay {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(197,84,85,0.9);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(197,84,85,0.9)), color-stop(20%, rgba(197,84,85,0.89)), color-stop(100%, rgba(248,171,173,0.84)));
    background: -webkit-linear-gradient(top, rgba(197,84,85,0.9) 0%, rgba(197,84,85,0.89) 20%, rgba(248,171,173,0.84) 100%);
    background: linear-gradient(to bottom, rgba(197,84,85,0.9) 0%, rgba(197,84,85,0.89) 20%, rgba(248,171,173,0.84) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c55455', endColorstr='#f8abad', GradientType=0 );
  }
  .arrow {
    position: absolute;
    bottom: calculate-rem(70px);
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    @include breakpoint-down(sm) {
      bottom: calculate-rem(30px);
    }
    @media (max-width: 600px) {
      display: none;
    }
  }
}
