/*--------------------------------------------------------------
# Paralax Text
--------------------------------------------------------------*/

.paralax-text {
  min-height: calculate-rem(500px);
  width: 100%;
  position: relative;
  height: calculate-rem(500px);
  overflow: hidden;
  &__container {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../images/paralax-3.jpg');
    width: 100%;
    height: 100%;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    &:after {
      position: absolute;
      content: " ";
      display: block;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: rgba(0,0,0,0.6);
      -webkit-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;
    }
    p {
      padding: calculate-rem(15px);
      text-align: center;
      position: absolute;
      z-index: 1;
      top: 50%;
      left: 50%;
      display: block;
      color: white;
      -webkit-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
      color: white;
      font-family: $font-family--primary;
      line-height: calculate-rem(36px);
      @include fontsize(20);
      max-width: calculate-rem(900px);
      width: 100%;
      span {
        color: white;
        @include fontsize(24);
        font-weight: 700;
      }
    }
  }

  &--border {
    .paralax-text__container {
      background-image: url('../images/paralax-4.jpg');
    }
    .paralax-text__border {
      display: block;
      width: auto;
      padding: calculate-rem(15px) calculate-rem(25px);
      border: 2px solid $color--pink;
      @include fontsize(30);
      line-height: 1.5;
      font-weight: 300;
      strong {
        font-weight: 500;
      }
      span {
        padding: 0 calculate-rem(10px);
        @include fontsize(30);
        font-weight: 300;
        color: $color--pink;
      }
      a {
        @include fontsize(30);
        line-height: 1.5;
        font-weight: 300;
        color: white;
        &:hover {
          color: white;
          text-decoration: none;
        }
      }
    }
  }
}
