/*--------------------------------------------------------------
# Pricelist
--------------------------------------------------------------*/

.pricelist {
  background-image: url('../images/pink-2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: calculate-rem(100px) 0;
  @include breakpoint-down(sm) {
    padding: calculate-rem(30px) 0;
  }
  &:after {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(197,84,85,0.9);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(197,84,85,0.9)), color-stop(20%, rgba(197,84,85,0.89)), color-stop(100%, rgba(248,171,173,0.84)));
    background: -webkit-linear-gradient(top, rgba(197,84,85,0.9) 0%, rgba(197,84,85,0.89) 20%, rgba(248,171,173,0.84) 100%);
    background: linear-gradient(to bottom, rgba(197,84,85,0.9) 0%, rgba(197,84,85,0.89) 20%, rgba(248,171,173,0.84) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c55455', endColorstr='#f8abad', GradientType=0 );
  }
  &__content {
    position: relative;
    z-index: 1;
    text-align: center;
    p {
      font-family: $font-family--primary;
      color: white;
      @include fontsize(18);
      line-height: 1.15;
    }
  }
  &__container {
    margin: calculate-rem(60px) 0 calculate-rem(20px) 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: white;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  &__item {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
    margin: 2%;
    border: 2px solid white;
    @include breakpoint-down(lg) {
      -ms-flex-preferred-size: 40%;
          flex-basis: 40%;
    }
    @include breakpoint-down(md) {
      -ms-flex-preferred-size: 45%;
          flex-basis: 45%;
    }
    @media (max-width: 670px) {
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
    }
    &__heading {
      padding: calculate-rem(20px);
      margin: 0;
      min-height: calculate-rem(86px);
      color: white;
      width: 100%;
      @include fontsize(20);
      text-transform: uppercase;
      font-weight: 500;
      border-bottom: 2px solid white;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    }
    &__list {
      margin: 0;
      color: white;
      padding: calculate-rem(20px);
      list-style-type: none;
      li {
        color: white;
        font-weight: 300;
        font-family: $font-family--primary;
        @include fontsize(16);
        padding: 0 0 calculate-rem(15px) 0;
        margin-bottom: calculate-rem(15px);
        position: relative;
        &:after {
          display: block;
          content: " ";
          width: calculate-rem(65px);
          height: 2px;
          background-color: white;
          position: absolute;
          bottom: 0;
          left: 50%;
          -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
        }
        &:nth-child(4) {
          padding-bottom: 0;
          margin-bottom: 0;
          &:after {
            display: none;
          }
        }
        strong {
          color: white;
          width: 100%;
          display: block;
          @include fontsize(36);
          font-weight: 400;
          span {
            color: white;
              @include fontsize(18);
          }
        }
      }
    }
  }
}
