/*--------------------------------------------------------------
# services
--------------------------------------------------------------*/

.services {
  padding: calculate-rem(90px) 0 calculate-rem(60px) 0;
  @include breakpoint-down(sm) {
    padding: calculate-rem(30px) 0;
  }
}
