/*--------------------------------------------------------------
# Social
--------------------------------------------------------------*/

.social {
  min-height: calculate-rem(500px);
  width: 100%;
  position: relative;
  height: calculate-rem(500px);
  overflow:hidden;
  &--instagram {
    .social__container {
      background-image: url('../images/paralax-1.jpg');
    }
  }
  &--facebook {
    .social__container {
      background-image: url('../images/paralax-2.jpg');
    }
  }
  &__container {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    &:after {
      position: absolute;
      content: " ";
      display: block;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: rgba(0,0,0,0.6);
      -webkit-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;
    }
    &--blur {
      .social__link {
        border: 2px solid white;
        img {
          -webkit-transform: scale(1.05);
                  transform: scale(1.05);
        }
      }
    }
  }
  &__link {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    display: block;
    color: white;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    padding: calculate-rem(25px) calculate-rem(70px);
    border: 2px solid $color--pink;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    @include breakpoint-down(sm) {
      padding: calculate-rem(13px) calculate-rem(35px);
    }
    img {
      -webkit-transition: all .33s ease-in-out;
      transition: all .33s ease-in-out;
      height: calculate-rem(50px);
      width: auto;
      @include breakpoint-down(sm) {
        height: calculate-rem(34px);
      }
    }
  }
}
