/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/

.team {
  padding-top: calculate-rem(70px);
  @include breakpoint-down(sm) {
    padding: calculate-rem(30px) 0 0 0;
  }
  &__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

  }
  &__figure {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
    margin-bottom: calculate-rem(50px);
    @include breakpoint-down(sm) {
      -ms-flex-preferred-size: 47%;
          flex-basis: 47%;
    }
    @media (max-width: 500px) {
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
    }
    &__img {
      border: 3px solid white;
      box-shadow: 0px 4px 13px 1px rgba(0,0,0,0.65);
      position: relative;
      margin-bottom: calculate-rem(30px);
      img {
        width: 100%;
        height: auto;
      }
      h5 {
        margin: 0;
        position: absolute;
        bottom: calculate-rem(10px);
        color: white;
        background-color: rgba(248, 171, 173, 0.9);
        width: 100%;
        padding: calculate-rem(15px) 0 calculate-rem(10px) 0;
        font-family: $font-family--secondary;
        line-height: 1.2;
        font-weight: 500;
        @include fontsize(30);
        text-align: center;
      }
    }
    figcaption {
      p {
        font-family: $font-family--primary;
        @include fontsize(13);
        font-weight: 400;
        text-align: justify;
        line-height: 1.6;
      }
    }
  }
}
