// margin


$margin: 24px;
$margin--tiny: ($margin/4);
$margin--small: ($margin/2);
$margin--large: ($margin*2);
$margin--huge: ($margin*4);

$padding: 24px;
$padding--tiny: ($padding/4);
$padding--small: ($padding/2);
$padding--large: ($padding*2);
$padding--huge: ($padding*4);
