/* fonts*/

$font-family--primary: 'Lato', sans-serif;
$font-family--secondary: 'Audrey', 'Lato', sans-serif;


$font-size--md: 16;
$font-size--sm: 14;
$font-size--lg: 20;
$font-size--xl: 24;
$font-size--xxl: 30;
$font-size--xxxl: 36;
$font-size--xxxxl: 42;
$font-size--xxxxxl: 48;

$color-text: $color--grey;


html,body,h1,h2,h3,h4,h5,h6,span,p,ul,li,ol,a,div {
  font-family: $font-family--primary;
  color: $color-text;
}

@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900');
@font-face {
    font-family: "Audrey";
    font-weight: 400;
    src: url(../fonts/Audrey-Normal.otf);
}
@font-face {
    font-family: "Audrey";
    font-weight: 700;
    src: url(../fonts/Audrey-Bold.otf);
}
@font-face {
    font-family: "Audrey";
    font-weight: 500;
    src: url(../fonts/Audrey-Medium.otf);
}
