/*--------------------------------------------------------------
_____    ______  __      __  ____    _____     ____    _______   _    _   ______   _____     _____
|  __ \  |  ____| \ \    / / |  _ \  |  __ \   / __ \  |__   __| | |  | | |  ____| |  __ \   / ____|
| |  | | | |__     \ \  / /  | |_) | | |__) | | |  | |    | |    | |__| | | |__    | |__) | | (___
| |  | | |  __|     \ \/ /   |  _ <  |  _  /  | |  | |    | |    |  __  | |  __|   |  _  /   \___ \
| |__| | | |____     \  /    | |_) | | | \ \  | |__| |    | |    | |  | | | |____  | | \ \   ____) |
|_____/  |______|     \/     |____/  |_|  \_\  \____/     |_|    |_|  |_| |______| |_|  \_\ |_____/

--------------------------------------------------------------*/
/*--------------------------------------------------------------
# 0-global
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Bootstrap grid
--------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

* {
  box-sizing: border-box; }

*:before,
*:after {
  box-sizing: border-box; }

html {
  font-size: 16px;
  -webkit-tap-highlight-color: transparent; }

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333333;
  background-color: #ffffff; }

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

a {
  color: #337ab7;
  text-decoration: none; }

a:hover,
a:focus {
  color: #23527c;
  text-decoration: underline; }

a:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }

figure {
  margin: 0; }

img {
  vertical-align: middle; }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

.img-rounded {
  border-radius: 6px; }

.img-thumbnail {
  padding: 4px;
  line-height: 1.42857143;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto; }

.img-circle {
  border-radius: 50%; }

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto; }

[role="button"] {
  cursor: pointer; }

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit; }

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small,
h1 .small,
h2 .small,
h3 .small,
h4 .small,
h5 .small,
h6 .small,
.h1 .small,
.h2 .small,
.h3 .small,
.h4 .small,
.h5 .small,
.h6 .small {
  font-weight: normal;
  line-height: 1;
  color: #777777; }

h1,
.h1,
h2,
.h2,
h3,
.h3 {
  margin-top: 20px;
  margin-bottom: 10px; }

h1 small,
.h1 small,
h2 small,
.h2 small,
h3 small,
.h3 small,
h1 .small,
.h1 .small,
h2 .small,
.h2 .small,
h3 .small,
.h3 .small {
  font-size: 65%; }

h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-top: 10px;
  margin-bottom: 10px; }

h4 small,
.h4 small,
h5 small,
.h5 small,
h6 small,
.h6 small,
h4 .small,
.h4 .small,
h5 .small,
.h5 .small,
h6 .small,
.h6 .small {
  font-size: 75%; }

h1,
.h1 {
  font-size: 36px; }

h2,
.h2 {
  font-size: 30px; }

h3,
.h3 {
  font-size: 24px; }

h4,
.h4 {
  font-size: 18px; }

h5,
.h5 {
  font-size: 14px; }

h6,
.h6 {
  font-size: 12px; }

p {
  margin: 0 0 10px; }

.lead {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4; }

@media (min-width: 768px) {
  .lead {
    font-size: 21px; } }
small,
.small {
  font-size: 85%; }

mark,
.mark {
  background-color: #fcf8e3;
  padding: .2em; }

ul,
ol {
  margin-top: 0;
  margin-bottom: 10px; }

ul ul,
ol ul,
ul ol,
ol ol {
  margin-bottom: 0; }

dl {
  margin-top: 0;
  margin-bottom: 20px; }

dt,
dd {
  line-height: 1.42857143; }

dt {
  font-weight: bold; }

dd {
  margin-left: 0; }

@media (min-width: 768px) {
  .dl-horizontal dt {
    float: left;
    width: 160px;
    clear: left;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }

  .dl-horizontal dd {
    margin-left: 180px; } }
abbr[title],
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted #777777; }

.initialism {
  font-size: 90%;
  text-transform: uppercase; }

blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
  border-left: 5px solid #eeeeee; }

blockquote p:last-child,
blockquote ul:last-child,
blockquote ol:last-child {
  margin-bottom: 0; }

blockquote footer,
blockquote small,
blockquote .small {
  display: block;
  font-size: 80%;
  line-height: 1.42857143;
  color: #777777; }

blockquote footer:before,
blockquote small:before,
blockquote .small:before {
  content: '\2014 \00A0'; }

.blockquote-reverse,
blockquote.pull-right {
  padding-right: 15px;
  padding-left: 0;
  border-right: 5px solid #eeeeee;
  border-left: 0;
  text-align: right; }

.blockquote-reverse footer:before,
blockquote.pull-right footer:before,
.blockquote-reverse small:before,
blockquote.pull-right small:before,
.blockquote-reverse .small:before,
blockquote.pull-right .small:before {
  content: ''; }

.blockquote-reverse footer:after,
blockquote.pull-right footer:after,
.blockquote-reverse small:after,
blockquote.pull-right small:after,
.blockquote-reverse .small:after,
blockquote.pull-right .small:after {
  content: '\00A0 \2014'; }

address {
  margin-bottom: 20px;
  font-style: normal;
  line-height: 1.42857143; }

code,
kbd,
pre,
samp {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace; }

code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px; }

kbd {
  padding: 2px 4px;
  font-size: 90%;
  color: #ffffff;
  background-color: #333333;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25); }

kbd kbd {
  padding: 0;
  font-size: 100%;
  font-weight: bold;
  box-shadow: none; }

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  word-break: break-all;
  word-wrap: break-word;
  color: #333333;
  background-color: #f5f5f5;
  border: 1px solid #cccccc;
  border-radius: 4px; }

pre code {
  padding: 0;
  font-size: inherit;
  color: inherit;
  white-space: pre-wrap;
  background-color: transparent;
  border-radius: 0; }

.pre-scrollable {
  max-height: 340px;
  overflow-y: scroll; }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }

@media (min-width: 768px) {
  .container {
    width: 750px; } }
@media (min-width: 992px) {
  .container {
    width: 970px; } }
@media (min-width: 1200px) {
  .container {
    width: 1170px; } }
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }

.row {
  margin-left: -15px;
  margin-right: -15px; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left; }

.col-xs-12 {
  width: 100%; }

.col-xs-11 {
  width: 91.66666667%; }

.col-xs-10 {
  width: 83.33333333%; }

.col-xs-9 {
  width: 75%; }

.col-xs-8 {
  width: 66.66666667%; }

.col-xs-7 {
  width: 58.33333333%; }

.col-xs-6 {
  width: 50%; }

.col-xs-5 {
  width: 41.66666667%; }

.col-xs-4 {
  width: 33.33333333%; }

.col-xs-3 {
  width: 25%; }

.col-xs-2 {
  width: 16.66666667%; }

.col-xs-1 {
  width: 8.33333333%; }

.col-xs-pull-12 {
  right: 100%; }

.col-xs-pull-11 {
  right: 91.66666667%; }

.col-xs-pull-10 {
  right: 83.33333333%; }

.col-xs-pull-9 {
  right: 75%; }

.col-xs-pull-8 {
  right: 66.66666667%; }

.col-xs-pull-7 {
  right: 58.33333333%; }

.col-xs-pull-6 {
  right: 50%; }

.col-xs-pull-5 {
  right: 41.66666667%; }

.col-xs-pull-4 {
  right: 33.33333333%; }

.col-xs-pull-3 {
  right: 25%; }

.col-xs-pull-2 {
  right: 16.66666667%; }

.col-xs-pull-1 {
  right: 8.33333333%; }

.col-xs-pull-0 {
  right: auto; }

.col-xs-push-12 {
  left: 100%; }

.col-xs-push-11 {
  left: 91.66666667%; }

.col-xs-push-10 {
  left: 83.33333333%; }

.col-xs-push-9 {
  left: 75%; }

.col-xs-push-8 {
  left: 66.66666667%; }

.col-xs-push-7 {
  left: 58.33333333%; }

.col-xs-push-6 {
  left: 50%; }

.col-xs-push-5 {
  left: 41.66666667%; }

.col-xs-push-4 {
  left: 33.33333333%; }

.col-xs-push-3 {
  left: 25%; }

.col-xs-push-2 {
  left: 16.66666667%; }

.col-xs-push-1 {
  left: 8.33333333%; }

.col-xs-push-0 {
  left: auto; }

.col-xs-offset-12 {
  margin-left: 100%; }

.col-xs-offset-11 {
  margin-left: 91.66666667%; }

.col-xs-offset-10 {
  margin-left: 83.33333333%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-8 {
  margin-left: 66.66666667%; }

.col-xs-offset-7 {
  margin-left: 58.33333333%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-5 {
  margin-left: 41.66666667%; }

.col-xs-offset-4 {
  margin-left: 33.33333333%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-2 {
  margin-left: 16.66666667%; }

.col-xs-offset-1 {
  margin-left: 8.33333333%; }

.col-xs-offset-0 {
  margin-left: 0%; }

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left; }

  .col-sm-12 {
    width: 100%; }

  .col-sm-11 {
    width: 91.66666667%; }

  .col-sm-10 {
    width: 83.33333333%; }

  .col-sm-9 {
    width: 75%; }

  .col-sm-8 {
    width: 66.66666667%; }

  .col-sm-7 {
    width: 58.33333333%; }

  .col-sm-6 {
    width: 50%; }

  .col-sm-5 {
    width: 41.66666667%; }

  .col-sm-4 {
    width: 33.33333333%; }

  .col-sm-3 {
    width: 25%; }

  .col-sm-2 {
    width: 16.66666667%; }

  .col-sm-1 {
    width: 8.33333333%; }

  .col-sm-pull-12 {
    right: 100%; }

  .col-sm-pull-11 {
    right: 91.66666667%; }

  .col-sm-pull-10 {
    right: 83.33333333%; }

  .col-sm-pull-9 {
    right: 75%; }

  .col-sm-pull-8 {
    right: 66.66666667%; }

  .col-sm-pull-7 {
    right: 58.33333333%; }

  .col-sm-pull-6 {
    right: 50%; }

  .col-sm-pull-5 {
    right: 41.66666667%; }

  .col-sm-pull-4 {
    right: 33.33333333%; }

  .col-sm-pull-3 {
    right: 25%; }

  .col-sm-pull-2 {
    right: 16.66666667%; }

  .col-sm-pull-1 {
    right: 8.33333333%; }

  .col-sm-pull-0 {
    right: auto; }

  .col-sm-push-12 {
    left: 100%; }

  .col-sm-push-11 {
    left: 91.66666667%; }

  .col-sm-push-10 {
    left: 83.33333333%; }

  .col-sm-push-9 {
    left: 75%; }

  .col-sm-push-8 {
    left: 66.66666667%; }

  .col-sm-push-7 {
    left: 58.33333333%; }

  .col-sm-push-6 {
    left: 50%; }

  .col-sm-push-5 {
    left: 41.66666667%; }

  .col-sm-push-4 {
    left: 33.33333333%; }

  .col-sm-push-3 {
    left: 25%; }

  .col-sm-push-2 {
    left: 16.66666667%; }

  .col-sm-push-1 {
    left: 8.33333333%; }

  .col-sm-push-0 {
    left: auto; }

  .col-sm-offset-12 {
    margin-left: 100%; }

  .col-sm-offset-11 {
    margin-left: 91.66666667%; }

  .col-sm-offset-10 {
    margin-left: 83.33333333%; }

  .col-sm-offset-9 {
    margin-left: 75%; }

  .col-sm-offset-8 {
    margin-left: 66.66666667%; }

  .col-sm-offset-7 {
    margin-left: 58.33333333%; }

  .col-sm-offset-6 {
    margin-left: 50%; }

  .col-sm-offset-5 {
    margin-left: 41.66666667%; }

  .col-sm-offset-4 {
    margin-left: 33.33333333%; }

  .col-sm-offset-3 {
    margin-left: 25%; }

  .col-sm-offset-2 {
    margin-left: 16.66666667%; }

  .col-sm-offset-1 {
    margin-left: 8.33333333%; }

  .col-sm-offset-0 {
    margin-left: 0%; } }
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left; }

  .col-md-12 {
    width: 100%; }

  .col-md-11 {
    width: 91.66666667%; }

  .col-md-10 {
    width: 83.33333333%; }

  .col-md-9 {
    width: 75%; }

  .col-md-8 {
    width: 66.66666667%; }

  .col-md-7 {
    width: 58.33333333%; }

  .col-md-6 {
    width: 50%; }

  .col-md-5 {
    width: 41.66666667%; }

  .col-md-4 {
    width: 33.33333333%; }

  .col-md-3 {
    width: 25%; }

  .col-md-2 {
    width: 16.66666667%; }

  .col-md-1 {
    width: 8.33333333%; }

  .col-md-pull-12 {
    right: 100%; }

  .col-md-pull-11 {
    right: 91.66666667%; }

  .col-md-pull-10 {
    right: 83.33333333%; }

  .col-md-pull-9 {
    right: 75%; }

  .col-md-pull-8 {
    right: 66.66666667%; }

  .col-md-pull-7 {
    right: 58.33333333%; }

  .col-md-pull-6 {
    right: 50%; }

  .col-md-pull-5 {
    right: 41.66666667%; }

  .col-md-pull-4 {
    right: 33.33333333%; }

  .col-md-pull-3 {
    right: 25%; }

  .col-md-pull-2 {
    right: 16.66666667%; }

  .col-md-pull-1 {
    right: 8.33333333%; }

  .col-md-pull-0 {
    right: auto; }

  .col-md-push-12 {
    left: 100%; }

  .col-md-push-11 {
    left: 91.66666667%; }

  .col-md-push-10 {
    left: 83.33333333%; }

  .col-md-push-9 {
    left: 75%; }

  .col-md-push-8 {
    left: 66.66666667%; }

  .col-md-push-7 {
    left: 58.33333333%; }

  .col-md-push-6 {
    left: 50%; }

  .col-md-push-5 {
    left: 41.66666667%; }

  .col-md-push-4 {
    left: 33.33333333%; }

  .col-md-push-3 {
    left: 25%; }

  .col-md-push-2 {
    left: 16.66666667%; }

  .col-md-push-1 {
    left: 8.33333333%; }

  .col-md-push-0 {
    left: auto; }

  .col-md-offset-12 {
    margin-left: 100%; }

  .col-md-offset-11 {
    margin-left: 91.66666667%; }

  .col-md-offset-10 {
    margin-left: 83.33333333%; }

  .col-md-offset-9 {
    margin-left: 75%; }

  .col-md-offset-8 {
    margin-left: 66.66666667%; }

  .col-md-offset-7 {
    margin-left: 58.33333333%; }

  .col-md-offset-6 {
    margin-left: 50%; }

  .col-md-offset-5 {
    margin-left: 41.66666667%; }

  .col-md-offset-4 {
    margin-left: 33.33333333%; }

  .col-md-offset-3 {
    margin-left: 25%; }

  .col-md-offset-2 {
    margin-left: 16.66666667%; }

  .col-md-offset-1 {
    margin-left: 8.33333333%; }

  .col-md-offset-0 {
    margin-left: 0%; } }
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left; }

  .col-lg-12 {
    width: 100%; }

  .col-lg-11 {
    width: 91.66666667%; }

  .col-lg-10 {
    width: 83.33333333%; }

  .col-lg-9 {
    width: 75%; }

  .col-lg-8 {
    width: 66.66666667%; }

  .col-lg-7 {
    width: 58.33333333%; }

  .col-lg-6 {
    width: 50%; }

  .col-lg-5 {
    width: 41.66666667%; }

  .col-lg-4 {
    width: 33.33333333%; }

  .col-lg-3 {
    width: 25%; }

  .col-lg-2 {
    width: 16.66666667%; }

  .col-lg-1 {
    width: 8.33333333%; }

  .col-lg-pull-12 {
    right: 100%; }

  .col-lg-pull-11 {
    right: 91.66666667%; }

  .col-lg-pull-10 {
    right: 83.33333333%; }

  .col-lg-pull-9 {
    right: 75%; }

  .col-lg-pull-8 {
    right: 66.66666667%; }

  .col-lg-pull-7 {
    right: 58.33333333%; }

  .col-lg-pull-6 {
    right: 50%; }

  .col-lg-pull-5 {
    right: 41.66666667%; }

  .col-lg-pull-4 {
    right: 33.33333333%; }

  .col-lg-pull-3 {
    right: 25%; }

  .col-lg-pull-2 {
    right: 16.66666667%; }

  .col-lg-pull-1 {
    right: 8.33333333%; }

  .col-lg-pull-0 {
    right: auto; }

  .col-lg-push-12 {
    left: 100%; }

  .col-lg-push-11 {
    left: 91.66666667%; }

  .col-lg-push-10 {
    left: 83.33333333%; }

  .col-lg-push-9 {
    left: 75%; }

  .col-lg-push-8 {
    left: 66.66666667%; }

  .col-lg-push-7 {
    left: 58.33333333%; }

  .col-lg-push-6 {
    left: 50%; }

  .col-lg-push-5 {
    left: 41.66666667%; }

  .col-lg-push-4 {
    left: 33.33333333%; }

  .col-lg-push-3 {
    left: 25%; }

  .col-lg-push-2 {
    left: 16.66666667%; }

  .col-lg-push-1 {
    left: 8.33333333%; }

  .col-lg-push-0 {
    left: auto; }

  .col-lg-offset-12 {
    margin-left: 100%; }

  .col-lg-offset-11 {
    margin-left: 91.66666667%; }

  .col-lg-offset-10 {
    margin-left: 83.33333333%; }

  .col-lg-offset-9 {
    margin-left: 75%; }

  .col-lg-offset-8 {
    margin-left: 66.66666667%; }

  .col-lg-offset-7 {
    margin-left: 58.33333333%; }

  .col-lg-offset-6 {
    margin-left: 50%; }

  .col-lg-offset-5 {
    margin-left: 41.66666667%; }

  .col-lg-offset-4 {
    margin-left: 33.33333333%; }

  .col-lg-offset-3 {
    margin-left: 25%; }

  .col-lg-offset-2 {
    margin-left: 16.66666667%; }

  .col-lg-offset-1 {
    margin-left: 8.33333333%; }

  .col-lg-offset-0 {
    margin-left: 0%; } }
.clearfix:before,
.clearfix:after,
.dl-horizontal dd:before,
.dl-horizontal dd:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
  content: " ";
  display: table; }

.clearfix:after,
.dl-horizontal dd:after,
.container:after,
.container-fluid:after,
.row:after {
  clear: both; }

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.pull-right {
  float: right !important; }

.pull-left {
  float: left !important; }

.hide {
  display: none !important; }

.show {
  display: block !important; }

.invisible {
  visibility: hidden; }

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

.hidden {
  display: none !important; }

.affix {
  position: fixed; }

/* Rem output with px fallback*/
/* Center block*/
/* Clearfix*/
/* Clear after (not all clearfix need this also)*/
/* fonts*/
html, body, h1, h2, h3, h4, h5, h6, span, p, ul, li, ol, a, div {
  font-family: "Lato", sans-serif;
  color: #404041; }

@font-face {
  font-family: "Audrey";
  font-weight: 400;
  src: url(../fonts/Audrey-Normal.otf); }
@font-face {
  font-family: "Audrey";
  font-weight: 700;
  src: url(../fonts/Audrey-Bold.otf); }
@font-face {
  font-family: "Audrey";
  font-weight: 500;
  src: url(../fonts/Audrey-Medium.otf); }
/*--------------------------------------------------------------
# Utilities
--------------------------------------------------------------*/
a {
  word-wrap: break-word; }

.no-pd {
  padding: 0 !important; }

.block {
  display: block; }

.centered {
  text-align: center; }

.no-centered {
  text-align: left; }

.u-p100 {
  padding: 100px; }
  @media (max-width: 992px) {
    .u-p100 {
      padding: 70px; } }
  @media (max-width: 767px) {
    .u-p100 {
      padding: 50px; } }

.u-p80 {
  padding: 80px; }
  @media (max-width: 992px) {
    .u-p80 {
      padding: 60px; } }
  @media (max-width: 767px) {
    .u-p80 {
      padding: 40px; } }

.u-p60 {
  padding: 60px; }
  @media (max-width: 992px) {
    .u-p60 {
      padding: 45px; } }
  @media (max-width: 767px) {
    .u-p60 {
      padding: 30px; } }

.u-p45 {
  padding: 45px; }
  @media (max-width: 992px) {
    .u-p45 {
      padding: 35px; } }
  @media (max-width: 767px) {
    .u-p45 {
      padding: 20px; } }

.u-p30 {
  padding: 30px; }
  @media (max-width: 992px) {
    .u-p30 {
      padding: 20px; } }
  @media (max-width: 767px) {
    .u-p30 {
      padding: 15px; } }

.u-p15 {
  padding: 15px; }

.u-ptb100 {
  padding-top: 100px;
  padding-bottom: 100px; }
  @media (max-width: 992px) {
    .u-ptb100 {
      padding-top: 70px;
      padding-bottom: 70px; } }
  @media (max-width: 767px) {
    .u-ptb100 {
      padding-top: 50px;
      padding-bottom: 50px; } }

.u-ptb80 {
  padding-top: 80px;
  padding-bottom: 80px; }
  @media (max-width: 992px) {
    .u-ptb80 {
      padding-top: 60px;
      padding-bottom: 60px; } }
  @media (max-width: 767px) {
    .u-ptb80 {
      padding-top: 40px;
      padding-bottom: 40px; } }

.u-ptb60 {
  padding-top: 60px;
  padding-bottom: 60px; }
  @media (max-width: 992px) {
    .u-ptb60 {
      padding-top: 45px;
      padding-bottom: 45px; } }
  @media (max-width: 767px) {
    .u-ptb60 {
      padding-top: 30px;
      padding-bottom: 30px; } }

.u-ptb45 {
  padding-top: 45px;
  padding-bottom: 45px; }
  @media (max-width: 992px) {
    .u-ptb45 {
      padding-top: 35px;
      padding-bottom: 35px; } }
  @media (max-width: 767px) {
    .u-ptb45 {
      padding-top: 20px;
      padding-bottom: 20px; } }

.u-ptb30 {
  padding-top: 30px;
  padding-bottom: 30px; }
  @media (max-width: 992px) {
    .u-ptb30 {
      padding-top: 20px;
      padding-bottom: 20px; } }
  @media (max-width: 767px) {
    .u-ptb30 {
      padding-top: 15px;
      padding-bottom: 15px; } }

.u-ptb15 {
  padding-top: 15px;
  padding-bottom: 15px; }

.u-pt100 {
  padding-top: 100px; }
  @media (max-width: 992px) {
    .u-pt100 {
      padding-top: 70px; } }
  @media (max-width: 767px) {
    .u-pt100 {
      padding-top: 50px; } }

.u-pt80 {
  padding-top: 80px; }
  @media (max-width: 992px) {
    .u-pt80 {
      padding-top: 60px; } }
  @media (max-width: 767px) {
    .u-pt80 {
      padding-top: 40px; } }

.u-pt60 {
  padding-top: 60px; }
  @media (max-width: 992px) {
    .u-pt60 {
      padding-top: 45px; } }
  @media (max-width: 767px) {
    .u-pt60 {
      padding-top: 30px; } }

.u-pt45 {
  padding-top: 45px; }
  @media (max-width: 992px) {
    .u-pt45 {
      padding-top: 35px; } }
  @media (max-width: 767px) {
    .u-pt45 {
      padding-top: 20px; } }

.u-pt30 {
  padding-top: 30px; }
  @media (max-width: 992px) {
    .u-pt30 {
      padding-top: 20px; } }
  @media (max-width: 767px) {
    .u-pt30 {
      padding-top: 15px; } }

.u-pt15 {
  padding-top: 15px; }

.u-pb100 {
  padding-bottom: 100px; }
  @media (max-width: 992px) {
    .u-pb100 {
      padding-bottom: 70px; } }
  @media (max-width: 767px) {
    .u-pb100 {
      padding-bottom: 50px; } }

.u-pb80 {
  padding-bottom: 80px; }
  @media (max-width: 992px) {
    .u-pb80 {
      padding-bottom: 60px; } }
  @media (max-width: 767px) {
    .u-pb80 {
      padding-bottom: 40px; } }

.u-pb60 {
  padding-bottom: 60px; }
  @media (max-width: 992px) {
    .u-pb60 {
      padding-bottom: 45px; } }
  @media (max-width: 767px) {
    .u-pb60 {
      padding-bottom: 30px; } }

.u-pb45 {
  padding-bottom: 45px; }
  @media (max-width: 992px) {
    .u-pb45 {
      padding-bottom: 35px; } }
  @media (max-width: 767px) {
    .u-pb45 {
      padding-bottom: 20px; } }

.u-pb30 {
  padding-bottom: 30px; }
  @media (max-width: 992px) {
    .u-pb30 {
      padding-bottom: 20px; } }
  @media (max-width: 767px) {
    .u-pb30 {
      padding-bottom: 15px; } }

.u-pb15 {
  padding-bottom: 15px; }

.u-m100 {
  margin: 100px; }
  @media (max-width: 992px) {
    .u-m100 {
      margin: 70px; } }
  @media (max-width: 767px) {
    .u-m100 {
      margin: 50px; } }

.u-m80 {
  margin: 80px; }
  @media (max-width: 992px) {
    .u-m80 {
      margin: 60px; } }
  @media (max-width: 767px) {
    .u-m80 {
      margin: 40px; } }

.u-m60 {
  margin: 60px; }
  @media (max-width: 992px) {
    .u-m60 {
      margin: 45px; } }
  @media (max-width: 767px) {
    .u-m60 {
      margin: 30px; } }

.u-m45 {
  margin: 45px; }
  @media (max-width: 992px) {
    .u-m45 {
      margin: 35px; } }
  @media (max-width: 767px) {
    .u-m45 {
      margin: 20px; } }

.u-m30 {
  margin: 30px; }
  @media (max-width: 992px) {
    .u-m30 {
      margin: 20px; } }
  @media (max-width: 767px) {
    .u-m30 {
      margin: 15px; } }

.u-m15 {
  margin: 15px; }

.u-mtb100 {
  margin-top: 100px;
  margin-bottom: 100px; }
  @media (max-width: 992px) {
    .u-mtb100 {
      margin-top: 70px;
      margin-bottom: 70px; } }
  @media (max-width: 767px) {
    .u-mtb100 {
      margin-top: 50px;
      margin-bottom: 50px; } }

.u-mtb80 {
  margin-top: 80px;
  margin-bottom: 80px; }
  @media (max-width: 992px) {
    .u-mtb80 {
      margin-top: 60px;
      margin-bottom: 60px; } }
  @media (max-width: 767px) {
    .u-mtb80 {
      margin-top: 40px;
      margin-bottom: 40px; } }

.u-mtb60 {
  margin-top: 60px;
  margin-bottom: 60px; }
  @media (max-width: 992px) {
    .u-mtb60 {
      margin-top: 45px;
      margin-bottom: 45px; } }
  @media (max-width: 767px) {
    .u-mtb60 {
      margin-top: 30px;
      margin-bottom: 30px; } }

.u-mtb45 {
  margin-top: 45px;
  margin-bottom: 45px; }
  @media (max-width: 992px) {
    .u-mtb45 {
      margin-top: 35px;
      margin-bottom: 35px; } }
  @media (max-width: 767px) {
    .u-mtb45 {
      margin-top: 20px;
      margin-bottom: 20px; } }

.u-mtb30 {
  margin-top: 30px;
  margin-bottom: 30px; }
  @media (max-width: 992px) {
    .u-mtb30 {
      margin-top: 20px;
      margin-bottom: 20px; } }
  @media (max-width: 767px) {
    .u-mtb30 {
      margin-top: 15px;
      margin-bottom: 15px; } }

.u-mtb15 {
  margin-top: 15px;
  margin-bottom: 15px; }

.u-mt100 {
  margin-top: 100px; }
  @media (max-width: 992px) {
    .u-mt100 {
      margin-top: 70px; } }
  @media (max-width: 767px) {
    .u-mt100 {
      margin-top: 50px; } }

.u-mt80 {
  margin-top: 80px; }
  @media (max-width: 992px) {
    .u-mt80 {
      margin-top: 60px; } }
  @media (max-width: 767px) {
    .u-mt80 {
      margin-top: 40px; } }

.u-mt60 {
  margin-top: 60px; }
  @media (max-width: 992px) {
    .u-mt60 {
      margin-top: 45px; } }
  @media (max-width: 767px) {
    .u-mt60 {
      margin-top: 30px; } }

.u-mt45 {
  margin-top: 45px; }
  @media (max-width: 992px) {
    .u-mt45 {
      margin-top: 35px; } }
  @media (max-width: 767px) {
    .u-mt45 {
      margin-top: 20px; } }

.u-mt30 {
  margin-top: 30px; }
  @media (max-width: 992px) {
    .u-mt30 {
      margin-top: 20px; } }
  @media (max-width: 767px) {
    .u-mt30 {
      margin-top: 15px; } }

.u-mt15 {
  margin-top: 15px; }

.u-mb100 {
  margin-bottom: 100px; }
  @media (max-width: 992px) {
    .u-mb100 {
      margin-bottom: 70px; } }
  @media (max-width: 767px) {
    .u-mb100 {
      margin-bottom: 50px; } }

.u-mb80 {
  margin-bottom: 80px; }
  @media (max-width: 992px) {
    .u-mb80 {
      margin-bottom: 60px; } }
  @media (max-width: 767px) {
    .u-mb80 {
      margin-bottom: 40px; } }

.u-mb60 {
  margin-bottom: 60px; }
  @media (max-width: 992px) {
    .u-mb60 {
      margin-bottom: 45px; } }
  @media (max-width: 767px) {
    .u-mb60 {
      margin-bottom: 30px; } }

.u-mb45 {
  margin-bottom: 45px; }
  @media (max-width: 992px) {
    .u-mb45 {
      margin-bottom: 35px; } }
  @media (max-width: 767px) {
    .u-mb45 {
      margin-bottom: 15px; } }

.u-mb30 {
  margin-bottom: 30px; }
  @media (max-width: 992px) {
    .u-mb30 {
      margin-bottom: 20px; } }
  @media (max-width: 767px) {
    .u-mb30 {
      margin-bottom: 15px; } }

.u-mb15 {
  margin-bottom: 15px; }

@media (max-width: 500px) {
  .u-p100 {
    padding-left: 15px;
    padding-right: 15px; } }

/*--------------------------------------------------------------
# Lightbox
--------------------------------------------------------------*/
.lity {
  z-index: 9990;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  white-space: nowrap;
  background: #0b0b0b;
  background: rgba(0, 0, 0, 0.9);
  outline: none !important;
  opacity: 0;
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease; }

.lity.lity-opened {
  opacity: 1; }

.lity.lity-closed {
  opacity: 0; }

.lity * {
  box-sizing: border-box; }

.lity-wrap {
  z-index: 9990;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  outline: none !important; }

.lity-wrap:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; }

.lity-loader {
  z-index: 9991;
  color: #fff;
  position: absolute;
  top: 50%;
  margin-top: -0.8em;
  width: 100%;
  text-align: center;
  font-size: 14px;
  font-family: Arial,Helvetica,sans-serif;
  opacity: 0;
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease; }

.lity-loading .lity-loader {
  opacity: 1; }

.lity-container {
  z-index: 9992;
  position: relative;
  text-align: left;
  vertical-align: middle;
  display: inline-block;
  white-space: normal;
  max-width: 100%;
  max-height: 100%;
  outline: none !important; }

.lity-content {
  z-index: 9993;
  width: 100%;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease; }

.lity-loading .lity-content, .lity-closed .lity-content {
  -webkit-transform: scale(0.8);
  transform: scale(0.8); }

.lity-content:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  display: block;
  right: 0;
  width: auto;
  height: auto;
  z-index: -1;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6); }

.lity-close {
  z-index: 9994;
  width: 35px;
  height: 35px;
  position: fixed;
  right: 0;
  top: 0;
  -webkit-appearance: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  padding: 0;
  color: #fff;
  font-style: normal;
  font-size: 35px;
  font-family: Arial,Baskerville,monospace;
  line-height: 35px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  border: 0;
  background: none;
  outline: none;
  box-shadow: none; }

.lity-close::-moz-focus-inner {
  border: 0;
  padding: 0; }

.lity-close:hover, .lity-close:focus, .lity-close:active, .lity-close:visited {
  text-decoration: none;
  text-align: center;
  padding: 0;
  color: #fff;
  font-style: normal;
  font-size: 35px;
  font-family: Arial,Baskerville,monospace;
  line-height: 35px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  border: 0;
  background: none;
  outline: none;
  box-shadow: none; }

.lity-close:active {
  top: 1px; }

.lity-image img {
  max-width: 100%;
  display: block;
  line-height: 0;
  border: 0; }

.lity-iframe .lity-container, .lity-youtube .lity-container, .lity-vimeo .lity-container, .lity-facebookvideo .lity-container, .lity-googlemaps .lity-container {
  width: 100%;
  max-width: 964px; }

.lity-iframe-container {
  width: 100%;
  height: 0;
  padding-top: 56.25%;
  overflow: auto;
  pointer-events: auto;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-overflow-scrolling: touch; }

.lity-iframe-container iframe {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #000; }

.lity-hide {
  display: none; }

/*--------------------------------------------------------------
# 1-Atoms
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Heading
--------------------------------------------------------------*/
.heading {
  font-family: "Audrey", "Lato", sans-serif;
  font-weight: 500;
  text-align: center;
  position: relative;
  padding-top: 0.625rem;
  padding-bottom: 1.875rem;
  margin-bottom: 2.5rem;
  font-size: 48px;
  font-size: 3rem; }
  @media (max-width: 992px) {
    .heading {
      font-size: 42px;
      font-size: 2.625rem; } }
  @media (max-width: 767px) {
    .heading {
      font-size: 36px;
      font-size: 2.25rem; } }
  @media (max-width: 550px) {
    .heading {
      font-size: 25px;
      font-size: 1.5625rem; } }
  .heading:after {
    display: block;
    content: " ";
    width: 5.3125rem;
    height: 2px;
    background-color: #f8abad;
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%); }
  .heading--white {
    color: white; }
    .heading--white:after {
      background-color: white; }
  .heading--big {
    font-size: 60px;
    font-size: 3.75rem; }
    @media (max-width: 992px) {
      .heading--big {
        font-size: 52px;
        font-size: 3.25rem; } }
    @media (max-width: 767px) {
      .heading--big {
        font-size: 44px;
        font-size: 2.75rem; } }
    @media (max-width: 550px) {
      .heading--big {
        font-size: 32px;
        font-size: 2rem; } }
  .heading span {
    font-size: 50px;
    font-size: 3.125rem; }
    @media (max-width: 992px) {
      .heading span {
        font-size: 44px;
        font-size: 2.75rem; } }
    @media (max-width: 767px) {
      .heading span {
        font-size: 38px;
        font-size: 2.375rem; } }
    @media (max-width: 550px) {
      .heading span {
        font-size: 25px;
        font-size: 1.5625rem; } }

/*--------------------------------------------------------------
# Arrow
--------------------------------------------------------------*/
.arrow {
  display: block;
  padding: 0.9375rem;
  max-width: 1.875rem;
  max-height: 1.875rem;
  background-image: url("../images/arrow-down.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out; }
  .arrow:before {
    content: " ";
    display: block;
    width: 3.125rem;
    height: 3.125rem;
    background-image: url("../images/paw-dog.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 125%;
    left: 50%;
    margin-left: -1.5625rem;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    -webkit-animation: pulse 2s infinite ease-in-out;
    animation: pulse 2s infinite ease-in-out; }

@-webkit-keyframes pulse {
  0% {
    opacity: 0.75;
    -webkit-transform: scale(1);
    transform: scale(1); }
  60% {
    opacity: 1;
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }
  100% {
    opacity: 0.75;
    -webkit-transform: scale(1);
    transform: scale(1); } }
@keyframes pulse {
  0% {
    opacity: 0.75;
    -webkit-transform: scale(1);
    transform: scale(1); }
  60% {
    opacity: 1;
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }
  100% {
    opacity: 0.75;
    -webkit-transform: scale(1);
    transform: scale(1); } }
/*--------------------------------------------------------------
# P border
--------------------------------------------------------------*/
p.border {
  padding: 1.6875rem 0;
  position: relative;
  max-width: 770px;
  margin: 0 auto;
  text-align: justify;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-size: 0.875rem; }
  p.border span {
    color: #f8abad; }
  p.border:after {
    display: block;
    content: " ";
    width: 2.8125rem;
    height: 2px;
    background-color: #f8abad;
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%); }

/*--------------------------------------------------------------
# 2-Molecules
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Navbar
--------------------------------------------------------------*/
header {
  margin-top: 3.25rem; }

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media (max-width: 992px) {
    .navbar {
      display: block;
      position: relative;
      z-index: 10;
      padding-bottom: 0.9375rem; }
      .navbar .show-navbar {
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0); } }
  .navbar__link {
    margin: 0.5rem 0;
    -ms-flex-preferred-size: 30%;
    flex-basis: 30%;
    text-decoration: none;
    font-family: "Lato", sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 10px;
    font-size: 0.625rem;
    max-height: 2.25rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
    position: relative;
    z-index: 11;
    background-color: white; }
    @media (max-width: 992px) {
      .navbar__link {
        margin-top: 0;
        padding-top: 1.25rem; } }
    .navbar__link img {
      height: 2.25rem;
      margin-right: 0.625rem; }
  .navbar__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0; }
    .navbar__list__item {
      padding: 0.8125rem 0; }
      .navbar__list__item a {
        text-transform: uppercase;
        font-family: "Lato", sans-serif;
        font-size: 18px;
        font-size: 1.125rem;
        font-weight: 400;
        line-height: 1;
        padding: 0 0.8125rem;
        border-right: 1px solid #f8abad;
        position: relative; }
        .navbar__list__item a:before {
          max-width: 0;
          width: 100%;
          height: 1px;
          position: absolute;
          bottom: -0.625rem;
          left: 0;
          background-color: #f8abad;
          content: " ";
          display: block;
          -webkit-transition: all .44s ease-in-out;
          transition: all .44s ease-in-out; }
        .navbar__list__item a:after {
          max-width: 0;
          width: 100%;
          height: 1px;
          position: absolute;
          top: -0.625rem;
          right: 0;
          background-color: #f8abad;
          content: " ";
          -webkit-transition: all .44s ease-in-out;
          transition: all .44s ease-in-out;
          display: block; }
        .navbar__list__item a:hover {
          color: #404041;
          text-decoration: none; }
          .navbar__list__item a:hover:after, .navbar__list__item a:hover:before {
            max-width: 100%; }
        .navbar__list__item a:active, .navbar__list__item a:focus {
          color: #404041;
          text-decoration: none; }
      .navbar__list__item:last-child a {
        border-right: 1px solid transparent; }
    @media (max-width: 992px) {
      .navbar__list {
        border-top: 1px solid #ccc;
        z-index: 9;
        display: block;
        text-align: center;
        position: absolute;
        top: 99%;
        width: 150%;
        background-color: white;
        left: 50%;
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
        -webkit-transform: translate(-50%, -180%);
        transform: translate(-50%, -180%); }
        .navbar__list__item a {
          border: none; } }

.hamburger {
  display: block;
  top: 1.25rem;
  right: 1.875rem;
  position: fixed;
  z-index: 10;
  padding: 0.625rem 0; }
  @media (min-width: 992px) {
    .hamburger {
      display: none; } }

.hamburger span {
  position: relative;
  display: block;
  height: 4px;
  width: 2rem;
  background-color: #404041;
  border-radius: 1px; }
  .hamburger span:after {
    width: 100%;
    height: 4px;
    position: absolute;
    top: -0.625rem;
    right: 0;
    background-color: #404041;
    content: " ";
    display: block; }
  .hamburger span:before {
    width: 100%;
    height: 4px;
    position: absolute;
    bottom: -0.625rem;
    right: 0;
    background-color: #404041;
    content: " ";
    display: block; }

.sticky {
  background-color: white;
  position: fixed;
  top: -0.25rem;
  padding-top: 0.25rem;
  width: 100%;
  z-index: 10; }

/*--------------------------------------------------------------
# Page Header
--------------------------------------------------------------*/
.page-header {
  position: relative;
  width: 100%;
  min-height: 100vh;
  text-align: center;
  background-image: url("../../assets/images/banner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  @media (max-width: 767px) {
    .page-header {
      min-height: 0; } }
  .page-header__heading {
    padding: 10.625rem 0.9375rem 0 0.9375rem; }
    @media (max-width: 1330px) {
      .page-header__heading {
        padding: 7.5rem 0.9375rem 0 0.9375rem; } }
    @media (max-width: 767px) {
      .page-header__heading {
        padding: 5rem 0.9375rem 5rem 0.9375rem; } }
    @media (max-width: 550px) {
      .page-header__heading {
        padding: 2.5rem 0.9375rem 5rem 0.9375rem; } }
    .page-header__heading .heading {
      position: relative;
      z-index: 1; }
    .page-header__heading img {
      margin: 0 auto;
      max-height: 6.25rem;
      max-width: 4.0625rem;
      position: relative;
      z-index: 1; }
    .page-header__heading h3 {
      display: block;
      margin: 0 auto;
      font-family: "Lato", sans-serif;
      font-size: 26px;
      font-size: 1.625rem;
      font-weight: 400;
      line-height: 1.2;
      color: white;
      max-width: 43.75rem;
      position: relative;
      z-index: 1; }
      .page-header__heading h3 span {
        font-size: 20px;
        font-size: 1.25rem;
        color: white; }
  .page-header .overlay {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(197, 84, 85, 0.9);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(197, 84, 85, 0.9)), color-stop(20%, rgba(197, 84, 85, 0.89)), color-stop(100%, rgba(248, 171, 173, 0.84)));
    background: -webkit-linear-gradient(top, rgba(197, 84, 85, 0.9) 0%, rgba(197, 84, 85, 0.89) 20%, rgba(248, 171, 173, 0.84) 100%);
    background: linear-gradient(to bottom, rgba(197, 84, 85, 0.9) 0%, rgba(197, 84, 85, 0.89) 20%, rgba(248, 171, 173, 0.84) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c55455', endColorstr='#f8abad', GradientType=0 ); }
  .page-header .arrow {
    position: absolute;
    bottom: 4.375rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%); }
    @media (max-width: 767px) {
      .page-header .arrow {
        bottom: 1.875rem; } }
    @media (max-width: 600px) {
      .page-header .arrow {
        display: none; } }

/*--------------------------------------------------------------
# Mission
--------------------------------------------------------------*/
.mission {
  background-image: url("../images/background-pattern.png");
  background-position: center;
  padding-top: 5.625rem; }
  @media (max-width: 767px) {
    .mission {
      padding: 1.875rem 0 0 0; } }
  .mission p {
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 2;
    text-align: center; }
  .mission img {
    max-height: 5.375rem;
    margin: 2.5rem 0; }

/*--------------------------------------------------------------
# Social
--------------------------------------------------------------*/
.social {
  min-height: 31.25rem;
  width: 100%;
  position: relative;
  height: 31.25rem;
  overflow: hidden; }
  .social--instagram .social__container {
    background-image: url("../images/paralax-1.jpg"); }
  .social--facebook .social__container {
    background-image: url("../images/paralax-2.jpg"); }
  .social__container {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out; }
    .social__container:after {
      position: absolute;
      content: " ";
      display: block;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.6);
      -webkit-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out; }
    .social__container--blur .social__link {
      border: 2px solid white; }
      .social__container--blur .social__link img {
        -webkit-transform: scale(1.05);
        transform: scale(1.05); }
  .social__link {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    display: block;
    color: white;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 1.5625rem 4.375rem;
    border: 2px solid #f8abad;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out; }
    @media (max-width: 767px) {
      .social__link {
        padding: 0.8125rem 2.1875rem; } }
    .social__link img {
      -webkit-transition: all .33s ease-in-out;
      transition: all .33s ease-in-out;
      height: 3.125rem;
      width: auto; }
      @media (max-width: 767px) {
        .social__link img {
          height: 2.125rem; } }

/*--------------------------------------------------------------
# About Us
--------------------------------------------------------------*/
.about-us {
  background-image: url("../images/pink-1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 6.25rem 0; }
  @media (max-width: 767px) {
    .about-us {
      padding: 1.875rem 0; } }
  .about-us:after {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(197, 84, 85, 0.9);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(197, 84, 85, 0.9)), color-stop(20%, rgba(197, 84, 85, 0.89)), color-stop(100%, rgba(248, 171, 173, 0.84)));
    background: -webkit-linear-gradient(top, rgba(197, 84, 85, 0.9) 0%, rgba(197, 84, 85, 0.89) 20%, rgba(248, 171, 173, 0.84) 100%);
    background: linear-gradient(to bottom, rgba(197, 84, 85, 0.9) 0%, rgba(197, 84, 85, 0.89) 20%, rgba(248, 171, 173, 0.84) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c55455', endColorstr='#f8abad', GradientType=0 ); }
  .about-us__content {
    position: relative;
    z-index: 1; }
    .about-us__content p {
      font-family: "Lato", sans-serif;
      color: white;
      font-size: 24px;
      font-size: 1.5rem;
      line-height: 1.5;
      text-align: justify;
      font-weight: 500; }
      @media (max-width: 767px) {
        .about-us__content p {
          font-size: 20px;
          font-size: 1.25rem;
          text-align: left; } }

/*--------------------------------------------------------------
# Gallery
--------------------------------------------------------------*/
.gallery {
  padding: 5.625rem 0 4.375rem 0;
  text-align: center; }
  @media (max-width: 767px) {
    .gallery {
      padding: 1.875rem 0; } }
  .gallery h4 {
    text-align: left;
    font-size: 24px;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.5; }
  .gallery__grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .gallery__grid__item {
      min-height: 26.25rem;
      margin-bottom: 3%;
      border: 3px solid white;
      box-shadow: 0px 4px 13px 1px rgba(0, 0, 0, 0.65);
      position: relative;
      outline: none; }
      .gallery__grid__item:after {
        content: " ";
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        top: 0;
        opacity: 0;
        -webkit-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
        -webkit-transform: scale(0.99);
        transform: scale(0.99);
        background: white; }
      .gallery__grid__item:hover:after {
        opacity: 0.3;
        -webkit-transform: scale(1);
        transform: scale(1); }
      .gallery__grid__item--big {
        -ms-flex-preferred-size: 65%;
        flex-basis: 65%; }
        @media (max-width: 992px) {
          .gallery__grid__item--big {
            -ms-flex-preferred-size: 100%;
            flex-basis: 100%; } }
      .gallery__grid__item--small {
        -ms-flex-preferred-size: 32%;
        flex-basis: 32%; }
        @media (max-width: 992px) {
          .gallery__grid__item--small {
            -ms-flex-preferred-size: 48%;
            flex-basis: 48%; } }
        @media (max-width: 540px) {
          .gallery__grid__item--small {
            -ms-flex-preferred-size: 100%;
            flex-basis: 100%; } }
  .gallery span {
    display: inline-block;
    margin: 1.875rem auto 1.875rem auto;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    font-size: 1.125rem;
    font-weight: 500;
    padding: 0.9375rem 1.5625rem;
    border: 2px solid #f8abad; }

/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
.team {
  padding-top: 4.375rem; }
  @media (max-width: 767px) {
    .team {
      padding: 1.875rem 0 0 0; } }
  .team__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .team__figure {
    -ms-flex-preferred-size: 30%;
    flex-basis: 30%;
    margin-bottom: 3.125rem; }
    @media (max-width: 767px) {
      .team__figure {
        -ms-flex-preferred-size: 47%;
        flex-basis: 47%; } }
    @media (max-width: 500px) {
      .team__figure {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%; } }
    .team__figure__img {
      border: 3px solid white;
      box-shadow: 0px 4px 13px 1px rgba(0, 0, 0, 0.65);
      position: relative;
      margin-bottom: 1.875rem; }
      .team__figure__img img {
        width: 100%;
        height: auto; }
      .team__figure__img h5 {
        margin: 0;
        position: absolute;
        bottom: 0.625rem;
        color: white;
        background-color: rgba(248, 171, 173, 0.9);
        width: 100%;
        padding: 0.9375rem 0 0.625rem 0;
        font-family: "Audrey", "Lato", sans-serif;
        line-height: 1.2;
        font-weight: 500;
        font-size: 30px;
        font-size: 1.875rem;
        text-align: center; }
    .team__figure figcaption p {
      font-family: "Lato", sans-serif;
      font-size: 13px;
      font-size: 0.8125rem;
      font-weight: 400;
      text-align: justify;
      line-height: 1.6; }

/*--------------------------------------------------------------
# Paralax Text
--------------------------------------------------------------*/
.paralax-text {
  min-height: 31.25rem;
  width: 100%;
  position: relative;
  height: 31.25rem;
  overflow: hidden; }
  .paralax-text__container {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../images/paralax-3.jpg");
    width: 100%;
    height: 100%;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out; }
    .paralax-text__container:after {
      position: absolute;
      content: " ";
      display: block;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.6);
      -webkit-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out; }
    .paralax-text__container p {
      padding: 0.9375rem;
      text-align: center;
      position: absolute;
      z-index: 1;
      top: 50%;
      left: 50%;
      display: block;
      color: white;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      color: white;
      font-family: "Lato", sans-serif;
      line-height: 2.25rem;
      font-size: 20px;
      font-size: 1.25rem;
      max-width: 56.25rem;
      width: 100%; }
      .paralax-text__container p span {
        color: white;
        font-size: 24px;
        font-size: 1.5rem;
        font-weight: 700; }
  .paralax-text--border .paralax-text__container {
    background-image: url("../images/paralax-4.jpg"); }
  .paralax-text--border .paralax-text__border {
    display: block;
    width: auto;
    padding: 0.9375rem 1.5625rem;
    border: 2px solid #f8abad;
    font-size: 30px;
    font-size: 1.875rem;
    line-height: 1.5;
    font-weight: 300; }
    .paralax-text--border .paralax-text__border strong {
      font-weight: 500; }
    .paralax-text--border .paralax-text__border span {
      padding: 0 0.625rem;
      font-size: 30px;
      font-size: 1.875rem;
      font-weight: 300;
      color: #f8abad; }
    .paralax-text--border .paralax-text__border a {
      font-size: 30px;
      font-size: 1.875rem;
      line-height: 1.5;
      font-weight: 300;
      color: white; }
      .paralax-text--border .paralax-text__border a:hover {
        color: white;
        text-decoration: none; }

/*--------------------------------------------------------------
# services
--------------------------------------------------------------*/
.services {
  padding: 5.625rem 0 3.75rem 0; }
  @media (max-width: 767px) {
    .services {
      padding: 1.875rem 0; } }

/*--------------------------------------------------------------
# Pricelist
--------------------------------------------------------------*/
.pricelist {
  background-image: url("../images/pink-2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 6.25rem 0; }
  @media (max-width: 767px) {
    .pricelist {
      padding: 1.875rem 0; } }
  .pricelist:after {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(197, 84, 85, 0.9);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(197, 84, 85, 0.9)), color-stop(20%, rgba(197, 84, 85, 0.89)), color-stop(100%, rgba(248, 171, 173, 0.84)));
    background: -webkit-linear-gradient(top, rgba(197, 84, 85, 0.9) 0%, rgba(197, 84, 85, 0.89) 20%, rgba(248, 171, 173, 0.84) 100%);
    background: linear-gradient(to bottom, rgba(197, 84, 85, 0.9) 0%, rgba(197, 84, 85, 0.89) 20%, rgba(248, 171, 173, 0.84) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c55455', endColorstr='#f8abad', GradientType=0 ); }
  .pricelist__content {
    position: relative;
    z-index: 1;
    text-align: center; }
    .pricelist__content p {
      font-family: "Lato", sans-serif;
      color: white;
      font-size: 18px;
      font-size: 1.125rem;
      line-height: 1.15; }
  .pricelist__container {
    margin: 3.75rem 0 1.25rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: white;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .pricelist__item {
    -ms-flex-preferred-size: 30%;
    flex-basis: 30%;
    margin: 2%;
    border: 2px solid white; }
    @media (max-width: 1330px) {
      .pricelist__item {
        -ms-flex-preferred-size: 40%;
        flex-basis: 40%; } }
    @media (max-width: 992px) {
      .pricelist__item {
        -ms-flex-preferred-size: 45%;
        flex-basis: 45%; } }
    @media (max-width: 670px) {
      .pricelist__item {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%; } }
    .pricelist__item__heading {
      padding: 1.25rem;
      margin: 0;
      min-height: 5.375rem;
      color: white;
      width: 100%;
      font-size: 20px;
      font-size: 1.25rem;
      text-transform: uppercase;
      font-weight: 500;
      border-bottom: 2px solid white;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -ms-flex-line-pack: center;
      align-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
    .pricelist__item__list {
      margin: 0;
      color: white;
      padding: 1.25rem;
      list-style-type: none; }
      .pricelist__item__list li {
        color: white;
        font-weight: 300;
        font-family: "Lato", sans-serif;
        font-size: 16px;
        font-size: 1rem;
        padding: 0 0 0.9375rem 0;
        margin-bottom: 0.9375rem;
        position: relative; }
        .pricelist__item__list li:after {
          display: block;
          content: " ";
          width: 4.0625rem;
          height: 2px;
          background-color: white;
          position: absolute;
          bottom: 0;
          left: 50%;
          -webkit-transform: translateX(-50%);
          transform: translateX(-50%); }
        .pricelist__item__list li:nth-child(4) {
          padding-bottom: 0;
          margin-bottom: 0; }
          .pricelist__item__list li:nth-child(4):after {
            display: none; }
        .pricelist__item__list li strong {
          color: white;
          width: 100%;
          display: block;
          font-size: 36px;
          font-size: 2.25rem;
          font-weight: 400; }
          .pricelist__item__list li strong span {
            color: white;
            font-size: 18px;
            font-size: 1.125rem; }

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact {
  padding: 6.25rem 0;
  text-align: center; }
  @media (max-width: 767px) {
    .contact {
      padding: 1.875rem 0; } }
  .contact p {
    margin: 0 auto;
    font-size: 20px;
    font-size: 1.25rem;
    font-family: "Lato", sans-serif;
    text-align: center; }

/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
.footer {
  background-color: #404041; }
  .footer__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
  .footer__content {
    padding: 1.875rem 1.5625rem;
    text-align: center;
    -ms-flex-preferred-size: 30%;
    flex-basis: 30%;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    @media (max-width: 1330px) {
      .footer__content {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%; } }
    @media (max-width: 992px) {
      .footer__content {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%; } }
    .footer__content__title {
      color: white;
      font-size: 30px;
      font-size: 1.875rem;
      font-weight: 500;
      font-family: "Audrey", "Lato", sans-serif;
      text-transform: uppercase;
      color: #f8abad;
      margin-bottom: 3.125rem; }
      @media (max-width: 767px) {
        .footer__content__title {
          margin-bottom: 1.5625rem; } }
    .footer__content__paragraph {
      color: white;
      font-size: 20px;
      font-size: 1.25rem;
      line-height: 1.6;
      font-weight: 400; }
    .footer__content__infos {
      margin-top: 1.875rem;
      color: white;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-around; }
      .footer__content__infos span {
        font-size: 14px;
        font-size: 0.875rem;
        color: white; }
    .footer__content__social {
      margin-top: 3.125rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      .footer__content__social__link {
        -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
        color: white;
        position: relative;
        display: block;
        color: white;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out; }
        .footer__content__social__link img {
          width: 100%;
          -webkit-transition: all .33s ease-in-out;
          transition: all .33s ease-in-out; }
  .footer__map {
    min-height: 31.25rem;
    background-size: cover;
    background-position: top right;
    background-repeat: no-repeat;
    background-image: url("../images/map.jpg");
    -ms-flex-preferred-size: 65%;
    flex-basis: 60%;
    position: relative; }
    @media (max-width: 1330px) {
      .footer__map {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%; } }
    @media (max-width: 992px) {
      .footer__map {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%; } }
    @media (max-width: 600px) {
      .footer__map {
        min-height: 18.75rem; } }
    .footer__map img {
      position: absolute;
      top: 1.5625rem;
      right: 19.375rem;
      max-width: 3.75rem;
      max-height: 5.625rem;
      -webkit-animation: pulse 2s infinite ease-in-out;
      animation: pulse 2s infinite ease-in-out; }
      @media (min-width: 1500px) {
        .footer__map img {
          top: 9%;
          right: 31%; } }
      @media (max-width: 600px) {
        .footer__map img {
          top: 1.25rem;
          right: 10.625rem;
          max-width: 2rem; } }
  .footer__bottom {
    background-color: #f8abad;
    padding-top: 1.5625rem;
    padding-bottom: 0.9375rem;
    text-align: center; }
    .footer__bottom .arrow {
      margin: 0 auto; }
      .footer__bottom .arrow:before {
        content: " ";
        display: block;
        width: 0.75rem;
        height: 0.75rem;
        background-image: url("../images/paw-dog.svg");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        bottom: 115%;
        left: 50%;
        margin-left: -0.375rem;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        -webkit-animation: pulse 2s infinite ease-in-out;
        animation: pulse 2s infinite ease-in-out; }

/*# sourceMappingURL=style.css.map */
